/* @library/cards.css */
.pink, .blue {
  background-image: var(--pink-gradient);
  overflow: hidden;
  border-radius: .8em;
  margin: 1.5rem 0 2rem;
  padding: 3rem 0 0 3rem;
}

:is(.pink, .blue) pre {
  margin: 0;
  padding: 2rem;
}

:is(.pink, .blue) > * {
  border-radius: .6em 0 0;
}

.blue {
  background-image: var(--blue-gradient);
}
